.user(ng-repeat="link in links")
    .img-user
        img(style="cursor:pointer;" ng-click="beginNeighborSwitch(link.linkNode, $event);" src="https://ui-avatars.com/api/?rounded=true&color=FFFFFF&bold=true&size=42&name={{link.name}}+{{link.lastName}}&background={{link.colorStr}}")
    .info-user  
        p 
            strong.truncate {{link.name}}