.user(ng-repeat="link in links")
    .img-user
        img(style="cursor:pointer;" ng-click="beginNeighborSwitch(link.linkNode, $event);" src="https://ui-avatars.com/api/?rounded=true&color=FFFFFF&bold=true&size=42&name={{link.name.name}}&background={{link.colorStr}}", ng-mouseover="onHover(link)", ng-moseleave="onHoverOut()")
    .info-user
        p(uib-tooltip="{{link.name.name}}" tooltip-placement="top")
            h6 {{link.name.name}}
        p {{link.name.description}}