.form-field {
  &__input {
    width: 100%;
    display: block;
    padding: 11px 12px;
    border-radius: $inputBorderRadius;
    border: 2px solid $inputBorderColor;
    transition: border-color .2s;
    font-size: 15px;

    &:hover {
      border-color: darken($color:$inputBorderColor, $amount: 8);
    }

    &:focus,
    &:active {
      box-shadow: inset 0 0 8px rgba($color: #000000, $alpha: .08);
    }
  }
}
