.layout-dropdown {
  position: absolute;
  top: 5px;
  left: 395px;
  width: 240px;

  .uib-dropdown {
    max-width: 100%;


    i {
      margin-left: auto;
    }

    h6 {
      font-size: 15px;
    }
  }
}

.layout-dropdown-menu {

    .dd-list {
      padding: 0;
    }
}
