//
// Intro Overlay in player styling
// Style for initial modal overlay in player

.intro-overlay {
    background-color: $body-bg;
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 192px;
    position: fixed;
    right: 0;
    top: 0;
    overflow: auto;
    z-index: 1001;
    color: $text-color;
    pointer-events: auto;
    transition: left .2s;

    .hero {
        background-color: rgba(1, 31, 42, 1);
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 400px;
        position: relative;
        color: #fff;

        button {
          background: #00d4fe;
          border-radius: 20px;
          height: 40px;
          position: absolute;
          left: 40px;
          bottom: 40px;
          color: $body-bg-dark;
          font-size: 16px;
          padding: 0 25px;
          font-weight: 100;

          &:hover {
            background: darken(#00d4fe, 10%);
          }
        }
        
        a {
          color: #fff;
          text-decoration: underline;
        }
    }


    .hero__background {

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006479+0,011f2a+100 */
        background: #006479; /* Old browsers */
        background: -moz-linear-gradient(top, rgba(0, 100, 121, 1) 0%, rgba(1, 31, 42, .5) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 100, 121, 1) 0%,rgba(1, 31, 42, .5) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 100, 121, 1) 0%,rgba(1, 31, 42, .5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 100, 121, 1)', endColorstr='rgba(1, 31, 42, .5)',GradientType=0 ); /* IE6-9 */

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .hero__content {
      position: relative;

      padding: 20px 40px 90px;

      h1 {
        font-weight: 500;
      }

      .subtitle {
        font-weight: 300;
      }
    }

    .content {
      padding: 40px;
      max-width: 800px;
      font-weight: 200;
    }

    .background {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

}
