.play-toolbar {
  position: absolute;
  right: 20px;
  top: 20px;
  padding-left: 20px;

  &__buttons {
    display: flex;
  }

  &__search {
    display: none;
    visibility: hidden;
  }

  &_opened {
    left: $side-menu-width + $right-panel-width + 20px;

    .play-toolbar__buttons {
      display: none;
      visibility: hidden;
    }

    .play-toolbar__search {
      display: block;
      visibility: visible;
    }
  }
}
