.play-toolbar {
  position: absolute;
  right: 20px;
  left: $side-menu-width + $right-panel-width + 20px;
  top: 20px;
  padding-left: 20px;

  &__buttons {
    display: flex;
  }

  &__search {
    display: none;
    visibility: hidden;
  }

  &_opened {
    left: $side-menu-width + $right-panel-width + 20px;

    //.play-toolbar__buttons {
    //  display: none;
    //  visibility: hidden;
    //}

    .play-toolbar__search {
      display: block;
      visibility: visible;
      position: absolute;
      width: calc(100% - 1em);
    }
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
  }

  .selected,
  .total {
    display: inline-block;
    font: 400 12px/18px 'Poppins';
    padding: 0 5px;
    border-radius: 18px;
    color: #fff;
  }

  .selected {
    background: #BC3364;
  }

  .total {
    background: #6A707E;
  }
}

.play-toolbar-bottom {
  position: absolute;
  left: $side-menu-width + $right-panel-width + 20px;
  bottom: 20px;
  padding-left: 20px;
}

.play-toolbar-list {
  background: #F5F6F8;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  padding: 4px;

  &__item {
    box-shadow: 0 0 3px rgba(#000, .3);
    border-radius: 4px;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &_selected {
      background: #fff;
    }
  }

  &__header {
    padding: 9px 10px;
    font: 400 12px/18px 'Poppins';
    color: rgba(#555555, .8);

    .button_icon_cancel {
      background-image: url('/img/play-toolbar/cancel.svg');
      background-repeat: no-repeat;
      width: 8px;
      height: 8px;
      float: right;
      margin-top: 5px;
    }
  }
}
