.right-panel__tabs
  ul.list-unstyled
    li.vert-align(ng-repeat="tab in rightPanelTabs" ng-click="tab.cmd()" ng-class="{'active': tab.panel === panelUI.currentPanelOpen}")
      span.badge(ng-if="tab.showSelCount && selNodesCount !== 0") {{selNodesCount}}
      span.inline.width-100(ng-class="{'highlighted': tab.highlighted}" data-toggle="tooltip" title="{{tab.tooltipTitle}}")
        i(class='{{tab.iconClass}}')
        br
        h6 {{tab.title}}
  img(src="/img/vibrantdata-logo.png" alt="Vibrant Logo")

