.right-panel__tabs {
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 192px;
  background: #fff;
  z-index: 1002;
  box-shadow: 0 0 18px rgba(#000, .06);
}

.tabs-menu {
  margin: 0;
  padding: 0 10px 0 0;
  list-style: none;

  &__item {
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &_active {
      background: linear-gradient(135deg, #BA3665 0%, #94408D 100%);
      border-radius: 0 4px 4px 0;

      .tabs-menu__link {
        color: #fff;

        &.fa-info-circle {
          &::before {
            background-image: url('/img/tabs-menu/fa-info-circle_white.svg');
          }
        }

        &.fa-play-circle-o {
          &::before {
            background-image: url('/img/tabs-menu/fa-play-circle-o_white.svg');
          }
        }

        &.fa-filter {
          &::before {
            background-image: url('/img/tabs-menu/fa-filter_white.svg');
          }
        }

        &.fa-map {
          &::before {
            background-image: url('/img/tabs-menu/fa-map_white.svg');
          }
        }

        &.fa-list-ul {
          &::before {
            background-image: url('/img/tabs-menu/fa-list-ul_white.svg');
          }
        }

        &.knowledge-base {
          &::before {
            background-image: url('/img/tabs-menu/knowledge-base_white.svg');
          }
        }

        &.settings {
          &::before {
            background-image: url('/img/tabs-menu/settings_white.svg');
          }
        }

        &.report {
          &::before {
            background-image: url('/img/tabs-menu/report_white.svg');
          }
        }

        &.bug {
          &::before {
            background-image: url('/img/tabs-menu/bug_white.svg');
          }
        }

        &.support {
          &::before {
            background-image: url('/img/tabs-menu/support_white.svg');
          }
        }

        &.toggle {
          &::before {
            background-image: url('/img/tabs-menu/toggle_white.svg');
          }
        }
      }
    }
  }

  &__text {
    display: block;
    transition: all .2s;
    white-space: nowrap;
    transform: translateX(0);
    text-overflow: ellipsis;
  }

  &__link {
    display: block;
    position: relative;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 10px 10px 55px;
    color: #334D6E;


    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      left: 19px;
      top: 50%;
      transform: translateY(-50%);
      background-position: 50%;
      background-repeat: no-repeat;
    }

    &.fa-info-circle {
      &::before {
        background-image: url('/img/tabs-menu/fa-info-circle_blue.svg');
      }
    }

    &.fa-play-circle-o {
      &::before {
        background-image: url('/img/tabs-menu/fa-play-circle-o_blue.svg');
      }
    }

    &.fa-filter {
      &::before {
        background-image: url('/img/tabs-menu/fa-filter_blue.svg');
      }
    }

    &.fa-map {
      &::before {
        background-image: url('/img/tabs-menu/fa-map_blue.svg');
      }
    }

    &.fa-list-ul {
      &::before {
        background-image: url('/img/tabs-menu/fa-list-ul_blue.svg');
      }
    }

    &.knowledge-base {
      &::before {
        background-image: url('/img/tabs-menu/knowledge-base_blue.svg');
      }
    }

    &.settings {
      &::before {
        background-image: url('/img/tabs-menu/settings_blue.svg');
      }
    }

    &.report {
      &::before {
        background-image: url('/img/tabs-menu/report_blue.svg');
      }
    }

    &.bug {
      &::before {
        background-image: url('/img/tabs-menu/bug_blue.svg');
      }
    }

    &.support {
      &::before {
        background-image: url('/img/tabs-menu/support_blue.svg');
      }
    }

    &.toggle {
      font-size: 11px;
      line-height: 17px;
      color: #90A0B7;
      margin: 50px 0 10px;

      &::before {
        background-image: url('/img/tabs-menu/toggle_blue.svg');
      }
    }
  }
}
