.flex-transclude.width-100(ng-mouseleave="rightPanelExited();", ng-controller="FilterPanelParentCtrl")
	.flex-vert-container.flex-transclude.panel-container.width-100
		//- .header(ng-click="panelUI.togglePanel('filter');" ng-class="{'active': panelUI.filterPanelOpen, 'hovered': panelUI.filterPanelHover}" ng-mouseenter="panelUI.filterPanelOpen ? showFilterSearch = true : showFilterSearch = false; panelUI.filterPanelHover = true;" ng-mouseleave="showFilterSearch = false; panelUI.filterPanelHover = false;")
		.header(ng-mouseenter="panelUI.filterPanelOpen ? showFilterSearch = true : showFilterSearch = false;" ng-mouseleave="showFilterSearch = false;")
			.row.vert-align.main
				.col-xs-6
					h6.title.text-uppercase.pull-left
						i.fa.fa-fw.fa-1-3x.fa-filter.btn-icon(ng-class="{'active': panelUI.filterPanelOpen}")
						span &nbsp;&nbsp;Filters&nbsp;&nbsp;&nbsp;&nbsp;
						span.text-link(ng-click="ui.statsSearchKey = '';$event.stopPropagation();" ng-if="ui.statsSearchKey" uib-tooltip="Clear Search" tooltip-placement="top" tooltip-append-to-body="true")
							span {{ui.filteredAttrs.length}} of {{ui.totalAttrsCount}}
							i.fa.fa-fw.fa-times
						//- .tag-checkbox.dark
						//- 	input(id="filter-toggle" type="checkbox", ng-model="ui.enableFilters", ng-change="toggleFiltersVis()")
						//- 	label(for="filter-toggle")
						//- span(ng-if="activeFilterCount > 0") {{activeFilterCount}}&nbsp;
						//- span(ng-if="activeFilterCount == 1") FILTER&nbsp;&nbsp;
						//- span(ng-if="activeFilterCount != 1") FILTERS&nbsp;&nbsp;
				div.col-xs-6.flex-container-end.vert-align.m-r-5
					//- TODO: Uncomment when undo-redo will be implemented
					//- button.btn.btn-sm.m-r-5(title="Undo" ng-click="undoFilters();" ng-disabled="!enableUndo" ng-class="{'btn-info': enableUndo, 'btn-default': !enableUndo}")
					//- 	i.fa.fa-undo
					//- button.btn.btn-sm.m-r-5(title="Redo" ng-click="redoFilters();" ng-disabled="!enableRedo" ng-class="{'btn-info': enableRedo, 'btn-default': !enableRedo}")
					//- 	i.fa.fa-repeat
					button.btn.btn-sm.btn-primary.m-r-5(ng-click="subsetFilters();", ng-disabled="!(ui.subsetEnabled)") Subset
					button.btn.btn-sm.btn-info(ng-if="panelUI.filterPanelOpen" ng-disabled="!(ui.activeFilterCount > 0)" ng-click="resetFilters();$event.stopPropagation();" uib-tooltip="Clear {{ui.activeFilterCount}} Filters" tooltip-placement="bottom-left" tooltip-append-to-body="true") Reset
			.hidden-btns(ng-click="$event.stopPropagation()")
				h6.search.vert-align.animate-hidden-panel-btns(ng-show="showFilterSearch && panelUI.filterPanelOpen" )
					input.h6.no-margin.form-control.pull-left(placeholder="Search Attributes.." ng-model="ui.statsSearchKey", ng-model-options="{'debounce': 500}", ng-change="attrSearched();")
					i.fa.fa-search
		//- FILTER_PANEL_CONTENT starts from here
		.panel-scroll.flex-fill.flex-vert-container(ng-controller="FilterPanelCtrl")
			//- span {{filteredDistrAttrs.length}} of {{nodeDistrAttrs.length}}
			ul.list-unstyled.flex-fill.left-panel-body(dir-attr-modifiers="", data-dir-virtual-scroll="", variable-height="", container-item-count="nodeDistrAttrs.length" dir-kill-tooltip-on-scroll, ng-if="ui.renderDistr")
				li.filter-item(ng-repeat="attr in ui.filteredAttrs = (nodeDistrAttrs | filter: {title : ui.statsSearchKey}) track by attr.id", ng-if="attr.visible", ng-class="{'attr-hidden':!attr.visible, 'first': ($index == 1)}", ng-click='selectNodesByAttrib(attr.title, attr.value, $event)', ng-style="{'display': 'block', 'margin-bottom':'15px', 'height': 'auto'}")
					.clearfix
					.row
						.attr-title
							.row.vert-align
								.col-xs-6
									h6.title.truncate(ng-if="attr.attrType != 'integer' && attr.attrType != 'float' && attr.attrType != 'boolean' && attr.attrType != 'year' ", uib-tooltip="{{::attr.metadata.descr}}" tooltip-placement='right' tooltip-append-to-body="true") {{::attr.title}}
								//- .col-xs-4
								//- .col-xs-4
								//- 	h6.color-primary.truncate.text-right(ng-if="attr.inViewport && (attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float')", style="color:{{nodeColorStr}}") &nbsp;{{attr.principalVal}}
								.col-xs-5(ng-if="attr.renderType == 'tags' || attr.renderType == 'categorylist' || attr.renderType == 'tag-cloud' ", style="padding-left:0;")
									dir-tag-list-sort(attr="::attr")
								.col-xs-1(ng-if="MAPP_EDITOR_OPEN")
									dir-attr-mod(attr="::attr", placement="selection")
						.col-xs-12()
							.row(ng-if="attr.attrType === 'string' && attr.principalVal", style="height:20px;")
								.col-xs-1
								.col-xs-11
									div
										h6.truncate.no-margin(style="color:{{nodeColorStr}};" ng-text-truncate="attr.principalVal" ng-tt-chars-threshold="200" ng-tt-more-label="more..." ng-tt-less-label="...less")
										//- h6.truncate.no-margin {{attr.principalVal}}
							dir-attr-renderer(attr-to-render="attr", node-color-str="nodeColorStr", is-node="true", show-filter="ui.enableFilters", disable-filter="attr.disableFilter" theme="appUi.theme" pinned-media="pinnedMedia")
							.clearfix
						.col-xs-12
							.attr-subtitle.row(ng-if="attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float' || attr.attrType === 'year' " ng-class="{'filters-on':ui.enableFilters}" ng-style="{'margin-bottom': '3px'}")
								.col-xs-2(ng-if="attr.metadata.minLabel")
									h6.no-margin {{::attr.metadata.minLabel}}
								div(style="color:{{focusNode.colorStr}};" ng-class="{'col-xs-8': attr.metadata.minLabel, 'col-xs-12': !attr.metadata.minLabel}")
									h6.no-margin.text-center(style="color:{{nodeColorStr}};" uib-tooltip="{{attr.metadata.descr || attr.title}}" tooltip-placement='right' tooltip-append-to-body="true")
										span {{::attr.title}}
										span(ng-show="attr.principalVal") :&nbsp;{{attr.principalVal}}
								.col-xs-2(ng-if="attr.metadata.maxLabel")
									h6.no-margin.text-right.pull-right {{::attr.metadata.maxLabel}}
							.divider
					.clearfix
